# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Python (backend)
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/

# ----------------------------
# Node / React (frontend)
# ----------------------------
Source_code/front_end/node_modules/
Source_code/front_end/dist/

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Misc
# ----------------------------
*.swp
*.swo